header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header {
  padding-block: 1rem;
  position: absolute;
  left: 0;
  right: 0;
  background-color: transparent;
  backdrop-filter: blur(80px);
}

.logo {
  font-size: 4rem;
  color: #fff;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
  a {
    font-size: 2.3rem;
  }
}
header a {
  color: #fff;
}

nav ul li {
  position: relative;
}
nav ul a::before {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: -1rem;
  transition: all ease-in-out 300ms;
}

nav ul a:hover::before {
  width: 100%;
}
.mobile-menu {
  display: none;
}

.hero {
  background-color: #444;
  background-image: url("../imgs/slider1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation: bgChange 20s ease infinite;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@keyframes bgChange {
  10% {
    background-image: url(../imgs/slider1.jpg);
  }
  40% {
    background-image: url(../imgs/slider2.jpg);
    background-color: #bbb;
    background-blend-mode: multiply;
  }
  80% {
    background-image: url(../imgs/slider3.jpg);
    background-color: #ddd;
    background-blend-mode: multiply;
  }
}

.hero-textbox {
  width: 50%;
  color: #fff;
}

.hero-desc {
  font-size: 2.5rem;
  margin-block: 2rem;
}

.btn-primary {
  background-color: rgb(39, 231, 39);
  color: #000;
}

.hero-imgbox {
  background-image: url("../imgs/hero-img.png");
  width: 40%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50rem;
  border-top-right-radius: 10rem;
  border-bottom-left-radius: 10rem;
  margin-left: auto;
}
.stats {
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  gap: 5rem;
  justify-content: center;
  background: transparent;
  backdrop-filter: blur(60px);
  max-width: 60rem;
  width: 90%;
  margin-inline: auto;
  padding: 1rem;
  margin-top: -15rem;
  font-size: 2rem;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 2rem;
  div {
    text-align: center;
  }
}

.about {
  padding-block: 10rem;
  text-align: center;
  background: #80ff80;
  background: linear-gradient(
    90deg,
    rgba(128, 255, 128, 0.7) 0%,
    rgba(153, 255, 153, 0.4) 100%
  );

  margin: 2rem;
  border-radius: 3rem;
}
.about-txtbox {
  max-width: 100rem;
  margin-inline: auto;
}

.about-pillars {
  width: 100%;
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  ul {
    text-align: left;
    list-style-position: outside;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  gap: 3rem;
}
.about-pillars li ion-icon {
  font-size: 2rem;
}
.mission,
.vision,
.values {
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2);
  background-color: #fff;
  padding: 2rem;
  padding-bottom: 5rem;
  border-radius: 2rem;
  h3 {
    margin-bottom: 2rem;
    padding-top: 1rem;
    margin-top: 6rem;
    border-top: 1px solid #000;
  }
  li {
    font-size: 1.8rem;
    display: flex;
    gap: 1rem;
  }
  span {
    display: inline-block;
  }
  position: relative;
}
.icon {
  background-color: #00ee00;
  color: #fff;
  width: 10rem;
  height: 10rem;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 5rem;

  position: absolute;
  left: 50%;
  top: 0%;
  transform: translateX(-50%) translateY(-50%);
}
.services {
  padding-top: 5rem;
  padding-bottom: 20rem;
  h3 {
    text-align: center;
    margin-block: 3rem;
  }
}
.service-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 120rem;
  width: 96%;
  margin-inline: auto;

  h2 {
    font-weight: 500;
  }
}
.service-txtbox {
  width: 60%;
  ul {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    li {
      font-size: 1.8rem;
      display: flex;
      gap: 1rem;
    }
  }
}

.service-imgbox {
  width: 40%;
}
.staff {
  background: #80ff80;
  background: linear-gradient(
    90deg,
    rgba(128, 255, 128, 0.7) 0%,
    rgba(153, 255, 153, 0.4) 100%
  );
  margin: 2rem;
  padding-block: 8rem;
  border-radius: 3rem;
  h2 {
    text-align: center;
  }
}
.team {
  display: flex;
  justify-content: center;
}
.conta {
  width: 500px;
  height: 500px;
  margin-inline: auto;
  h3 {
    text-align: center;
  }
}
.meet {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 6rem;
}

/* faq */

.faq {
  margin-block: 8rem;
}

.faq-container {
  max-width: 100rem;
  width: 90%;
  margin-inline: auto;
}
.faq-heading {
  text-align: center;
  margin-bottom: 5rem;
}
.accordion-wrapper {
  padding: 0 20px;
}
.accordion {
  margin-bottom: 20px;
  cursor: pointer;
}
.accordion-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  background-color: #fff;
  border: 2px solid #333;
  padding: 10px 20px;
}
.accordion-content {
  padding: 10px 20px;
  border: 2px solid #333;
  background-color: #fff;
  border-top: 0;
  display: none;
  animation: animate 0.3s linear forwards;
  line-height: 2;
  transform-origin: top;
}

@keyframes animate {
  0% {
    transform: scaleY(0);
  }
}

.accordion.active .accordion-heading {
  background-color: rgb(102, 240, 102);

  ion-icon[name="chevron-down-outline"] {
    color: #000;
  }
}
.accordion.active .accordion-heading ion-icon {
  color: #fff;
  transform: rotate(180deg);
  transition: transform 0.2s 0.1s;
}
.accordion.active .accordion-content {
  display: block;
}
.faq ion-icon {
  font-size: 2rem;
}

.contact {
  background: #80ff80;
  background: linear-gradient(
    90deg,
    rgba(128, 255, 128, 0.7) 0%,
    rgba(153, 255, 153, 0.4) 100%
  );
  margin: 2rem;
  padding-block: 8rem;
  border-radius: 3rem;
}
.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 5rem;
  gap: 6rem;
  max-width: 160rem;
  margin-inline: auto;
}
.map {
  width: 50%;
  /* height: 100%; */
}
iframe {
  width: 100%;
  /* height: 100%; */
  /* filter: invert(100%); */
}

.contact-us {
  /* background-color: #fff; */
  padding: 2rem 8rem;
  border: 2px solid #000;
  border-radius: 2rem;
}
.contact-us .contact-heading,
.contact-desc {
  text-align: center;
}
.form-element {
  width: 100%;
}

.contact-us input,
textarea {
  width: 100%;
  margin-block: 1rem;
  padding: 1rem;
  font-size: 1.6rem;
}
.contact-us textarea {
  resize: none;
  height: 10rem;
}

.contact-us input:focus,
textarea:focus {
  border-color: #4caf50; /* green border on focus */
  outline: none;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.btn-secondary {
  margin-inline: auto;
  width: 50%;
  display: block;
  border: 1px solid #000;
  margin-block: 1rem;
  font-size: 1.7rem;
  cursor: pointer;
}

/* footer */
footer {
  max-width: 160rem;
  margin-inline: auto;
  width: 96%;
}

.footer-container {
  margin-top: 13rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.footer-contact {
  margin-block: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer-contact p {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.footer-about {
  margin-block: 2rem;
}
.quick-links {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-block: 2rem;
}
.social-links {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  font-size: 2rem;
  margin-block: 2rem;
  li,
  i {
    cursor: pointer;
  }
}

.footer-section:nth-of-type(2) {
  justify-self: center;
}
.footer-section:nth-of-type(3) {
  justify-self: center;
}
.footer-section:last-of-type {
  justify-self: end;
}

.footer-container {
  margin-top: 10rem;
  padding-block: 5rem;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}
.year {
  font-size: 2rem;
  text-align: center;
  margin-top: 1rem;
}
.members{
  text-align: center;
  margin-block: 4rem;
}
